#tauri-window-controls {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    gap: 6px;
    padding: 6px 8px;
    opacity: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    border-bottom-left-radius: 12px;
    border-bottom-width: 2px;
    border-left-width: 2px;

    transition:
            opacity 150ms ease,
            border-color 200ms ease,
            transform 400ms ease;

    z-index: 999999;
}

#tauri-window-controls:not(.tauri-ready) {
    transform: translate(100%, -100%);
}

#tauri-window-controls.tauri-ready {
    opacity: 1;
}

#tauri-window-controls.tauri-show-controls {
    transform: translate(0px, 0px) !important;
}

#tauri-window-controls button {
    transition: filter 200ms ease;
}
#tauri-window-controls button:hover {
    filter: brightness(0.8);
}

#tauri-window-border {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    border-width: 2px;
    transition: border-color 200ms ease;

    pointer-events: none;
    z-index: 999998;
}

.tauri-hide-border {
    border-color: transparent !important;
}

#tauri-back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #333;
    color: white;
    z-index: 999999;
}

#tauri-back-button:hover {
    background: #555;
}

#tauri-ftue {
    position: fixed;
    left: 25vw;
    top: 25vh;
    width: 50vw;
    height: 50vh;
    z-index: 999997;
    text-align: center;
    border-radius: 24px;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#tauri-ftue-container {
    display: block;
}

.tauri-darken-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.3;
    z-index: 99999;
}

#tauri-ftue-close-button {
    font-size: 20px;
    font-weight: bold;
    padding: 12px 12px;
    bottom: 12px;
    position: static;
    margin: 12px auto;
    border-radius: 12px;

    transition: filter 200ms ease;
}

#tauri-ftue-close-button:hover {
    filter: brightness(0.8);
}

.tauri-separator {
    width: 90%;
    height: 2px;
    margin: 10px auto;
}

.tauri-scroll-container {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 70px;
}

div.mud-nav-item a.mud-nav-link[href="/karaoke-app"] {
    display: none !important;
}

#tauri-drag-btn:hover {
    cursor: grab;
}

.tauri-button {
    pointer-events: auto;
}